---
import GitHubIcon from "../icons/GitHub.astro";
import SocialPill from "./SocialPill.astro";
import LinkIcon from "../icons/Link.astro";

const PROJECTS = [
  {
    title: "Pokedex",
    description:
      "Creado consumiendo la conocida PokeAPI, una biblioteca con buscador de Pokemon.",
    link: "https://noeliarios.github.io/React-Pokedex/",
    github: "https://github.com/NoeliaRios/React-Pokedex",
    image: "/projects/poke_print.webp",
    tags: ["HTML, CSS, JavaScript"],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image, link, github }) => (
    <article>
      <h2 class="font-3-xl font-semibold accent-orange mb-2">{title}</h2>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row">
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      <img
        class="rounded shadow-black"
        src={image}
        alt={`Capura de pantalla del proyecto ${title}`}
      />
      <div class="flex my-5 gap-x-2 ">
        <SocialPill href={github}>
          <GitHubIcon />
          Github
        </SocialPill>
        <SocialPill href={link}>
          <LinkIcon />
          Sitio Web
        </SocialPill>
      </div>
    </article>
  ))
}
